.advantages {
  padding-top: 146px;
  padding-bottom: 91px;
  background-color: $color-ghost-white;

  @include vp-1199 {
    padding: 93px 0;
  }

  @include vp-767 {
    padding: 65px 0;
  }
}

.advantages__container {
  @include vp-767 {
    padding: 0;
  }
}

.advantages h2 {
  font-family: $ff-alumni-sans;
  font-weight: 600;
  font-size: 54px;
  line-height: 65px;
  letter-spacing: 0.03em;
  color: $color-sapphire;
  text-align: center;
  margin-top: 0;
  margin-bottom: 47px;
  margin-left: 10px;
  grid-column: 1/-1;
  grid-row: 1/2;

  @include vp-1199 {
    font-size: 42px;
    line-height: 50px;
    margin-left: -25px;
    margin-bottom: 42px;
  }

  @include vp-767 {
    font-size: 32px;
    line-height: 38px;
    margin-left: -17px;
    margin-bottom: 28px;
    padding: 0 35px;
  }
}

.advantages__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 240px 1fr;
  column-gap: 60px;
  grid-template-rows: auto auto;
  row-gap: 153px;

  @include vp-1199 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    column-gap: 30px;
    row-gap: 44px;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 21px
  }
}

.advantages__central-block {
  grid-column: 2/3;
  grid-row: 1/-1;
  background-color: $color-resolution-blue;
  color: $color-default-white;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $ff-roboto-condensed;
  padding: 45px 34px 57px;
  margin-top: 8px;
  margin-bottom: 5px;

  @include vp-1199 {
    margin: 0 118px;
    padding: 25px 135px 37px;
    grid-column: 1/-1;
    grid-row: 2/3;
  }

  @include vp-767 {
    width: 100%;
    padding: 29px 74px 43px;
    margin-top: 23px;
    margin-bottom: 5px;
  }
}

.advantages__central-block span {
  font-weight: 700;
  font-size: 74px;
  line-height: normal;

  @include vp-1199 {
    margin-left: -6px;
  }
}

.advantages__central-block h3 {
  font-weight: 700;
  font-size: 26px;
  line-height: 150%;
  margin-top: -5px;
  margin-bottom: 32px;

  @include vp-1199 {
    font-size: 22px;
    margin-top: -8px;
    margin-bottom: 14px;
  }

  @include vp-767 {
    margin-top: -12px;
    margin-bottom: 8px;
  }
}

.advantages__central-block p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  margin: 0;
  text-align: center;
}

.advantages__item {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 30px;

  @include vp-1199 {
    width: auto;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 35px;
  }
}

.advantages__item--square {
  grid-column: 1/2;
  grid-row: 1/2;
  padding-left: 80px;

  @include vp-1199 {
    padding: 0;
  }
}

.advantages__item--parking {
  grid-column: 3/4;
  grid-row: 1/2;

  @include vp-1199 {
    grid-column: 2/3;
  }
}

.advantages__item--comfort {
  grid-column: 1/2;
  grid-row: 2/3;
  padding-left: 80px;

  @include vp-1199 {
    grid-row: 3/4;
    padding: 0;
  }
}

.advantages__item--coaching-experience {
  grid-column: 3/4;
  grid-row: 2/3;
  column-gap: 32px;

  @include vp-1199 {
    grid-column: 2/3;
    grid-row: 3/4;
  }
}

.advantages__item div {
  grid-column: 2/3;
}

.advantages__item h3 {
  margin-top: 0;
  margin-bottom: 5px;
  font-family: $ff-roboto-condensed;
  font-weight: 700;
  font-size: 22px;
  line-height: 150%;
  color: $color-sapphire;

  @include vp-1199 {
    font-size: 20px;
    margin-bottom: 1px;
  }

  @include vp-767 {
    text-align: center;
  }
}

.advantages__item p {
  margin: 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 140%;
  color: $color-sapphire;

  @include vp-767 {
    text-align: center;
  }
}

.advantages__number {
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  margin-top: -22px;
  font-family: $ff-roboto-condensed;

  @include vp-1199 {
    margin-top: -14px;
  }

  @include vp-767 {
    margin-top: 0;
    margin-bottom: 7px;
    align-items: center;
  }
}

.advantages__number b {
  font-weight: 700;
  font-size: 71px;
  line-height: 150%;
  background: $numbers-gradient;
  -webkit-text-fill-color: transparent;
  background-clip: text;

  @include vp-1199 {
    font-size: 58px;
  }
}

.advantages__number span {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #2e35ac;
  display: block;
  margin-top: -22px;

  @include vp-1199 {
    margin-top: -19px;
  }
}
