.footer {
  background-color: $color-black-russian;
  padding: 41px 0;

  @include vp-1199 {
    padding: 45px 0;
  }

  @include vp-767 {
    padding-top: 47px;
  }
}

.footer__container {
  display: flex;

  @include vp-767 {
    flex-direction: column;
  }
}

.footer__nav-list,
.footer__social-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: grid;
}

.footer__nav-list {
  grid-template-columns: auto auto auto auto auto auto;
  column-gap: 40px;
  row-gap: 20px;
  margin-right: auto;

  @include vp-1199 {
    column-gap: 30px;
  }

  @include vp-767 {
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    row-gap: 16px;
    margin-bottom: 33px;
  }
}

.footer__nav-item--logo {
  margin-right: 238px;

  @include vp-1199 {
    margin-right: 32px;
    margin-top: 3px;
  }

  @include vp-767 {
    order: 1;
    margin-top: 5px;
  }
}

.footer__nav-item--discounts {
  @include vp-767 {
    order: 2;
  }
}

.footer__nav-item--services {
  @include vp-767 {
    order: 3;
  }
}

.footer__nav-item--coaches {
  @include vp-767 {
    order: 4;
  }
}

.footer__nav-item--subscriptions {
  @include vp-767 {
    order: 5;
  }
}

.footer__nav-item--schedule {
  @include vp-767 {
    order: 6;
  }
}

.footer__nav-item a {
  color: $color-default-white;
  font-family: $ff-roboto-condensed;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  user-select: none;

  @include vp-767 {
    font-size: 16px;
    line-height: 19px;
  }

  &:hover {
    opacity: 0.7;
  }
}

.footer__logo img {
  @include vp-1199 {
    width: 82px;
    height: 18px;
    max-width: none;
  }

  @include vp-767 {
    width: 68px;
    height: 15px;
  }
}

.footer__social-list {
  grid-template-columns: auto auto auto;
  gap: 11px;

  @include vp-767 {
    width: fit-content;
  }
}

.footer__social-list a:hover {
  opacity: 0.7;
}
